VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyDC5vku6s_Jz1o6IFKKYzFHnfA1XF7xPtM
VITE_FIREBASE_AUTH_DOMAIN=artncraft-ac7ae.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=artncraft-ac7ae
VITE_FIREBASE_STORAGE_BUCKET=artncraft-ac7ae.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=557640471319
VITE_FIREBASE_APP_ID=1:557640471319:web:e108b612e98785cd961d52
