PORT=5000
MONGO_URI=mongodb+srv://pasinavod_db_user:4KTpKVmru37xFVxJ@artncraftcluster.kz4fy9j.mongodb.net/?appName=ArtnCraftCluster
JWT_SECRET=your_jwt_secret_key
CLOUDINARY_CLOUD_NAME=dqbgopw9j
CLOUDINARY_API_KEY=711493187635919
CLOUDINARY_API_SECRET=vsuDfv1HuxxVaz4bNNQ-0DxFZXE
